<f:form method="post" object="{Booking}" name="newBooking" action="createBooking">
	<h4>Kontakt Angaben</h4>
	<f:form.textfield property="name" id="name" /><label for="name"> <f:translate key="tx_danceclub_domain_model_booking.name" /></label><br />
	<f:form.textfield property="email" id="email" /><label for="email"> <f:translate key="tx_danceclub_domain_model_booking.email" /></label><br />
	<h4>Tanzstil</h4>
	<f:if condition="{danceStyleOptions}">
	<f:then>
		<f:for each="{danceStyleOptions}" as="option" iteration="counter"><f:form.radio property="danceStyle" value="{option.1}" id="{counter.cycle}" /><label for="{counter.cycle}"><f:translate key="{option.0}" /></label></f:for>
	</f:then>
	<f:else><p>Keine Optionen Gefunden.</p></f:else>
	</f:if><br />
	<h4>Bist du Student?</h4>
	<f:form.checkbox property="student" value="1" id="student" /><label for="student"><f:translate key="tx_danceclub_domain_model_booking.student" /></label><br />
	<h4>Kurswahl</h4>
	<f:if condition="{events -> f:count()}>=1">
		<f:then>
			<f:for each="{events}" as="event">
				<f:if condition="{event.bookable}">
					<f:then>
						<f:form.checkbox property="events" value="{event.uid}" id="{event.uid}" /><label for="{event.uid}">{event.name}</label><br />
					</f:then>
				</f:if>
			</f:for>
		</f:then>
		<f:else></f:else>
	</f:if>
	<h4>Bemerkung</h4>
	<f:form.textarea property="comment" cols="28" rows="5" /><br />
	<f:form.hidden name="eventGroup" value="{eventGroup.uid}" />
	<f:form.submit value="Anmelden!" />
</f:form>

