

<f:layout name="Default" />
<f:section name="main">
<f:debug title="Results of customers query">{booking}</f:debug>
<div id="column1">
	<h1>Ihre Buchung</h1>
	<f:flashMessages />
	<f:form.validationResults for="booking">
	<f:if condition="{validationResults.flattenedErrors}">
		<ul>
		<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
			<li>
			{propertyPath}: <ul>
				<f:for each="{errors}" as="error"><li>{error}</li></f:for>
				</ul>
			</li>
		</f:for></ul>
	</f:if>
	</f:form.validationResults>
	<p>Ihre Buchung ist mit diesen Angaben erfolgt:
	<table>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.name" /></td>
			<td>{booking.name}</td>
		</tr>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.email" /></td>
			<td>{booking.email}</td>
		</tr>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.dance_style" /></td>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.dance_style.{booking.danceStyle}" /></td>
		</tr>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.student" /></td>
			<td><f:if condition="{booking.student} == 1"><f:then><f:translate key="tx_danceclubtest_domain_model_booking.true" /></f:then><f:else><f:translate key="tx_danceclubtest_domain_model_booking.false" /></f:else></f:if></td>
		</tr>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.comment" /></td>
			<td>{booking.comment}</td>
		</tr>
		<tr><td><f:translate key="tx_danceclubtest_domain_model_event" /></td></tr>
		<f:for each="{booking.events}" as="event">
		<tr>
			<td></td>
			<td>{event.name}</td>
		</tr>
		</f:for>
		<tr>
			<td><f:translate key="tx_danceclubtest_domain_model_booking.invoiceamount" /></td>
			<td>{booking.invoiceAmount}.- Chf</td>
		</tr>
	</table>
</div>	
</f:section>