
<table class="tx-danceclub" >
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.title" />
		</td>
		<td>
			{eventGroup.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.subtitle" />
		</td>
		<td>
			{eventGroup.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.activate_booking" />
		</td>
		<td>
			{eventGroup.activateBooking}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.description" />
		</td>
		<td>
			{eventGroup.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.closed_booking_message" />
		</td>
		<td>
			{eventGroup.closedBookingMessage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_danceclub_domain_model_eventgroup.confirm_booking_message" />
		</td>
		<td>
			{eventGroup.confirmBookingMessage}
		</td>
	</tr>
</table>