
<label for="name">
	<f:translate key="tx_danceclub_domain_model_booking.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_danceclub_domain_model_booking.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="danceStyle">
	<f:translate key="tx_danceclub_domain_model_booking.dance_style" />
</label><br />
	<f:form.textfield property="danceStyle" /><br />
<label for="student">
	<f:translate key="tx_danceclub_domain_model_booking.student" />
</label><br />
	<f:form.checkbox property="student" value="1" /><br />
<label for="comment">
	<f:translate key="tx_danceclub_domain_model_booking.comment" />
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />
<label for="amount">
	<f:translate key="tx_danceclub_domain_model_booking.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="invoiceAmount">
	<f:translate key="tx_danceclub_domain_model_booking.invoice_amount" />
</label><br />
	<f:form.textfield property="invoiceAmount" /><br />
<label for="canceled">
	<f:translate key="tx_danceclub_domain_model_booking.canceled" />
</label><br />
	<f:form.checkbox property="canceled" value="1" /><br />