{namespace t=PlanT\Danceclub\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace bu=TYPO3\CMS\Beuser\ViewHelpers}

<f:layout name="Backend/Default" />

<f:section name="content">
<f:be.pageRenderer pageTitle="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.pageTitle')}" loadExtJs="1" loadExtJsTheme="1" enableExtJsDebug="1" loadJQuery="1" />
<t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Css/administration.css" />
<t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Js/sorttable.js" />

<script language="javascript" type="text/javascript">
			function showDetails(obj) {
	    		var el = document.getElementById(obj);
	   		 	if ( el.style.display != "none" ) {
	        		el.style.display = 'none';
	    		}
	    		else {
	       	 		el.style.display = '';
	    		}
			}
</script>
<f:flashMessages renderMode="div" />
	<h1>{eventGroup.title}</h1>
	<f:if condition="{events}">
		<f:then>
		<f:for each="{events}" as="event">
			
			<h3><core:icon identifier="danceclub-calendar-o" size="default" /> <f:if condition="{event.canceled}"><span class="canceledstamp"><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.canceled" /></span></f:if>{event.name}</h3>
			<f:if condition="{event.teachers -> f:count()}>=1">
				<f:then>
				<h4><f:for each="{event.teachers}" as="teacher" iteration="iterator">{teacher.name} <f:if condition="{iterator.isLast}"><f:then></f:then><f:else> &amp; </f:else></f:if></f:for></h4>
				</f:then>
				<f:else><i><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.noTeachers" /></i></f:else>
			</f:if>
			<h5>
			<div class="btn-group" role="group">

				<f:if condition="{event.bookings}"><f:then>
					<a class="btn btn-default" onclick="showDetails('showMails{event.uid}');"><core:icon identifier="danceclub-envelope" size="small" /> <f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.sendMailAll" /></a>
					<a class="btn btn-default" onclick="showDetails('bookings{event.uid}');"><core:icon identifier="danceclub-tag" size="small" /> Buchungen Anzeigen</a>
				</f:then></f:if>
			</div>
			<div class="btn-group" role="group">
				<f:if condition="{event.bookable}">
					<f:then>
						<a class="btn btn-default" href="<bu:editRecord parameters='edit[tx_danceclub_domain_model_booking][20]=new' />" title="<f:translate key='LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.newBookingRecord' />"><core:icon identifier="danceclub-plus" size="small" /></a>
                    	<a class="btn btn-default t3js-record-hide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.deactivate')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_event][{event.uid}][bookable]=0&returnUrl={returnUrl}' />" /><core:icon identifier="actions-edit-hide" size="small" /></a>
                    </f:then>
                    <f:else>
                        <a class="btn btn-default t3js-record-unhide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.activate')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_event][{event.uid}][bookable]=1&returnUrl={returnUrl}' />">
						<core:icon identifier="actions-edit-unhide" size="small" /></a>
                    </f:else>
                </f:if>
                <f:if condition="{event.canceled}">
                <f:then>
                	<a class="btn btn-default t3js-record-unhide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.unlock')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_event][{event.uid}][canceled]=0&returnUrl={returnUrl}' />" /><core:icon identifier="danceclub-unlock" size="small" /></a>
                </f:then>
               	<f:else>
               		<a class="btn btn-default t3js-record-unhide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.lock')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_event][{event.uid}][canceled]=1&returnUrl={returnUrl}' />" /><core:icon identifier="danceclub-lock" size="small" /></a>
               	</f:else>
                </f:if>
				<a class="btn btn-default" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.edit', arguments:'{eventGroup.name}')}" href="<bu:editRecord parameters='edit[tx_danceclub_domain_model_event][{event.uid}]=edit&returnUrl={returnUrl}' />">
                	<core:icon identifier="actions-open" size="small" />
                </a>
                <f:if condition="{event.bookable}">
					<f:then>
					<a class="btn btn-default" href="#" title="Send List to Google Drive"><core:icon identifier="danceclub-cloud-upload" size="small" /></a>
					</f:then>
				</f:if>
			</div>
			</h5>

			<f:if condition="{event.bookings}">
				<f:then>
					<f:render partial="Administration/RenderEmails" arguments="{event:event}" />
					<f:render partial="Administration/EventBookingsList" arguments="{event:event}" />
				</f:then>
				<f:else>
					<f:if condition="{event.bookable}">
						<f:then><i>Keine Buchungen für diese Veranstaltung</i></f:then>
						<f:else><i>Buchung deaktiviert</i></f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:for>
		</f:then>
		<f:else>
		   <div class="callout callout-info">
                <div class="media">
                    <div class="media-left">
                        <span class="fa-stack fa-lg callout-icon">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="callout-title"><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.noEventTitle" /></h4>
                        <div class="callout-body">
                            <p><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.noEventText" /></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
		</f:else>
	</f:if>


</f:section>
