{namespace t=PlanT\Danceclub\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace bu=TYPO3\CMS\Beuser\ViewHelpers}
<f:layout name="Backend/Default" />
<f:section name="content">
    <t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Css/administration.css" />
    <t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Js/sorttable.js" />
    <f:if condition="{eventGroups}">
        <f:then>
            <div class="table-fit">
                <table class="table table-striped table-hover danceclub-eventgroup-list sortable" data-table="pages" id="danceclub-eventgroup-list">
                    <thead>
                        <tr class="t3-row-header">
                            <th class="col-icon" nowrap="nowrap"></th>
                            <th class="col-title" nowrap="nowrap" title="{f:translate(key:'tx_danceclub_domain_model_eventgroup.title')}"><f:translate key="tx_danceclub_domain_model_eventgroup.title" /></th>
                            
                            <th nowrap="nowrap" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookingCount')}">
                                <f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookingCount" />
                            </th>
                            <th nowrap="nowrap" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookable')}">
                                <f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookable" />
                            </th>
                            <th class="col-icon" nowrap="nowrap"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{eventGroups}" as="eventGroup" key="extensionKey">
                            <tr>
                                <td class="col-icon" nowrap="nowrap">
                                    <core:icon identifier="danceclub-archive" size="small" />
                                </td>

                                <td class="col-title" nowrap="nowrap">
                                    <f:link.action action="detail" arguments="{eventGroup:eventGroup}">{eventGroup.title}</f:link.action>
                                </td>
                                
                                <td>
                                    <strong>
                                        {eventGroup.bookingCount}
                                    </strong>
                                </td>

                                <td class="col-control" nowrap="nowrap">
                                    
                                    <div class="btn-group" role="group">
                                        <f:if condition="{eventGroup.activateBooking}">
                                            <f:then>
                                                <t:be.issueCommand class="btn btn-default t3js-record-hide" parameters="&data[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}][activateBooking]=0">
                                                    <core:icon identifier="actions-edit-hide" size="small" />
                                                </t:be.issueCommand>
                                            </f:then>
                                            <f:else>
                                                <t:be.issueCommand class="btn btn-default t3js-record-unhide" parameters="&data[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}][activateBooking]=1">
                                                    <core:icon identifier="actions-edit-unhide" size="small" />
                                                </t:be.issueCommand>
                                            </f:else>
                                        </f:if>
                                    </div>
                                </td>
                                <td class="col-control" nowrap="nowrap">
                                    <div class="btn-group" role="group">
                                        <t:be.editRecord class="btn btn-default" parameters="edit[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}]=edit" title="Kursprogramm bearbeiten">
                                            <core:icon identifier="actions-open" size="small" />
                                        </t:be.editRecord>
                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>

        </f:then>
        <f:else>
          
        </f:else>
    </f:if>
</f:section>
