{namespace t=PlanT\Danceclub\ViewHelpers}
{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace bu=TYPO3\CMS\Beuser\ViewHelpers}
<f:layout name="Backend/Default" />
<f:section name="content">
    <t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Css/administration.css" />
    <t:includeFile path="../typo3conf/ext/danceclub/Resources/Public/Js/sorttable.js" />
    <f:flashMessages renderMode="div" />
    <f:if condition="{eventGroups}">
        <f:then>
            <h1><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.titleEventGroupView" /></h1>
            <div class="table-fit">
                <table class="table table-striped table-hover danceclub-eventgroup-list sortable" data-table="pages" id="danceclub-eventgroup-list">
                    <thead>
                        <tr class="t3-row-header">
                            <th class="col-icon" nowrap="nowrap"></th>
                            <th class="col-title" nowrap="nowrap" title="{f:translate(key:'tx_danceclub_domain_model_eventgroup.title')}"><f:translate key="tx_danceclub_domain_model_eventgroup.title" /></th>
                            
                            <th nowrap="nowrap" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookingCount')}">
                                <f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookingCount" />
                            </th>
                            <th nowrap="nowrap" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.bookable')}"></th>
                            <th class="col-icon" nowrap="nowrap"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{eventGroups}" as="eventGroup" key="extensionKey">
                            <tr>
                                <td class="col-icon" nowrap="nowrap">
                                    <core:icon identifier="danceclub-archive" size="small" />
                                </td>

                                <td class="col-title" nowrap="nowrap">
                                    <f:link.action action="detail" arguments="{eventGroup:eventGroup}">{eventGroup.title}</f:link.action><br />
                                    
                                </td>
                                
                                <td>
                                    <strong>
                                        {eventGroup.bookingCount}
                                    </strong>
                                </td>

                                <td class="col-control" nowrap="nowrap">
                                    
                                    <div class="btn-group" role="group">
                                        <f:if condition="{eventGroup.activateBooking}">
                                            <f:then>
                                                <a class="btn btn-default t3js-record-hide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.deactivate')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}][activate_booking]=0&returnUrl={returnUrl}' />" /><core:icon identifier="actions-edit-hide" size="small" /></a>
                                            </f:then>
                                            <f:else>
                                                <a class="btn btn-default t3js-record-hide" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.activate')}" href="<bu:issueCommand parameters='&data[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}][activate_booking]=1&returnUrl={returnUrl}' />">
                                                    <core:icon identifier="actions-edit-unhide" size="small" /></a>
                                            </f:else>
                                        </f:if>
                                        <a class="btn btn-default" href="#" onclick="top.launchView('tx_danceclub_domain_model_eventgroup', {eventGroup.uid}); return false;" title="" data-original-title="Informationen anzeigen">
                                            <core:icon identifier="actions-document-info" size="small" />
                                        </a>
                                    </div>

                                </td>
                                <td class="col-control" nowrap="nowrap">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-default" title="{f:translate(key:'LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.edit', arguments:'{eventGroup.name}')}" href="<bu:editRecord parameters='edit[tx_danceclub_domain_model_eventgroup][{eventGroup.uid}]=edit&returnUrl={returnUrl}' />">
                                            <core:icon identifier="actions-open" size="small" />
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>

        </f:then>
        <f:else>
            <div class="callout callout-info">
                <div class="media">
                    <div class="media-left">
                        <span class="fa-stack fa-lg callout-icon">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-info fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <h4 class="callout-title"><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.noEventGroupTitle" /></h4>
                        <div class="callout-body">
                            <p><f:translate key="LLL:EXT:danceclub/Resources/Private/Language/locallang_be.xlf:administration.noEventGroupText" /></p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>
