.tab {
	margin-left: 30px;
}
.table > tfoot > tr > td {
  padding: 6px;
  line-height: 0;
  vertical-align: top;
  border-top: 0px;
}
.right {
	text-align: right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
ol {
	margin-top: 9px;
	list-style-type: decimal;
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;			/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;	/* no left and right padding on columns, we just make them narrower instead 
					only padding top and bottom is included here, make it whatever value you need */
	overflow:hidden;
}
/* 3 Column settings */
.threecol {
	background:#eee;		/* right column background colour */
}
.threecol .colmid {
	right:33%;			/* width of the right column */
	background:#fff;		/* center column background colour */
}
.threecol .colleft {
	right:33%;			/* width of the middle column */
	background:#f4f4f4;	/* left column background colour */
}
.threecol .col1 {
	width:29%;			/* width of center column content (column width minus padding on either side) */
	left:67%;			/* 100% plus left padding of center column */
}
.threecol .col2 {
	width:29%;			/* Width of left column content (column width minus padding on either side) */
	left:72%;			/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.threecol .col3 {
	width:29%;			/* Width of right column content (column width minus padding on either side) */
	left:76%;			/* Please make note of the brackets here:
					(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}

.canceledstamp {
    transform: rotate(-7deg);
    position: absolute;
    background-color: #FFD6D6;
    font-size: 12px;
    color: #FF0000;
    border-color: #FF0000;
    border-width: 4px;
    max-width: 100%;
    overflow: visible;
}