
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Event</h1>

<f:flashMessages />

<table  class="tx_danceclub" >
	<tr>
		<th><f:translate key="tx_danceclub_domain_model_event.name" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.description" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.bookable" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.price" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.force_partner" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.max_bookings" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.min_bookings" /></th>
		<th><f:translate key="tx_danceclub_domain_model_event.disco_jokey" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td><f:link.action action="show" arguments="{event : event}"> {event.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.bookable}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.price}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.forcePartner}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.maxBookings}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.minBookings}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.discoJokey}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>
</f:section>